body.admin footer {
    margin-bottom: 4em;
}

#adminNavigation {
        background: #90CB93;
        position: fixed;
        bottom: 0;
        left: 0;
        list-style-type: none;
        margin: 0;
        padding: 0 70px;
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-top: 1px solid #85c188;
        z-index: 2;
}

#adminNavigation li {
        display: inline-block;
        margin: -1px 0 0 0;
        padding: 0;
}

#adminNavigation li:first-child {
    padding-right: 1em;
}

#adminNavigation li:last-child {
    float: right;
}

#adminNavigation a {
        color: white;
        background: #416843;
        padding: 1em 2em;
        text-decoration: none;
        display: inline-block;
}

#adminNavigation a:hover {
    background: #216849;
}

#admin dd {
        font-size: 1em;
        line-height: 1.6em;
}

label {
        padding: 3px;
}

.textfield {
        width: 300px;
}

input, textarea {
        border: 1px solid #4F100A;
        padding: 2px;
}

textarea {
    width: 90% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.admin textarea {
    font-family: monospace;
}

#admin dl {
        margin: 15px 0;
}

#admin dt {
        font-weight: bold;
        float: left;
        width: 40px;
}

#admin dd {
        position: relative;
        left: 75px;
        padding: 0 10px;
}


.right {
        float: right;
}

table {
        border-collapse: collapse;
        font-size: 1em;
        background-color: #274729;
}

td, th {
        border: 1px solid #000;
        padding: 5px;
        color: #dfbe9d;
        vertical-align: top;
}

th, thead td{
        background-color: #416843;
        font-weight: bold;
        text-align: left;
        color: #f1d6bc;
        border-style: solid;
}

.unsichtbare_tabelle, .unsichtbare_tabelle tr, .unsichtbare_tabelle tbody, .unsichtbare_tabelle td, .unsichtbare_tabelle th {
        background-color: transparent;
        border: 0;
        color: white;
}

textarea {
        font-family: arial;
        font-size: 1em;
        width: 650px;
        height: 350px;
}
