html, body {
    min-height: 100%;
}

body {
	background: white;
	font-family: "Trebuchet MS", "Lucida Grande", verdana, arial, georgia;
	font-size: 0.9em;
	margin: 0;
	padding: 20px 10%;
    line-height: 1.4;
}

a {
    color: #2877A2;
}

h1 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 2em;
}

h1 + h2 {
    margin: 0 0 2em 0;
    font-size: 1em;
}

h3 {
    font-weight: normal;
}

h2 {
    margin-bottom: 0;
}

h2 + h3 {
    margin-top: 0;
    font-weight: bold;
}

img { max-width: 100%; }

#container {
	min-width: 750px;
	max-width: 1100px;
	position:relative;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	background-color: white;
}

#logo {
    float: left;
}

#logo img {
    width: 400px;
} 

#navi {
    margin-top: 80px;
    float: right;
	list-style-type: none;
    text-align: center;
}

#navi > li {
    display: inline-block;
    position: relative;
}

#navi a {
	color: black;
	padding: 0.5em 0.7em;
    text-decoration: none;
    background: #90cb93;
    color: white;
}

#navi li:hover a {
    background: #416843;
}

#navi ul {
    display: none;
    position: absolute;
    text-align: left;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    top: 1.8em;
    z-index: 2;
}

#navi ul a {
    display: block;
    background: #416843;
}

#navi ul a:hover {
    background: #90cb93;
}

#navi > li:hover ul {
    display: block;
}

#navi > li:last-child ul {
    right: 0;
    border: red;
}

#stage {
    clear: both;
    border-top: 3px solid #90cb93;
	padding: 2.5em 0 2em 0;
}

#stage:before,
#stage:after {
    content:"";
    display:table;
}
#stage:after {
    clear:both;
}

#header_image {
    vertical-align: middle;
    display: block;
    margin-bottom: 2.5em;
}

p.diagramm {
    text-align: center;
    margin: 4em 0;
}

#stage p.diagramm img {
    float: none;
}

footer {
    clear: both;
    border-top: 5px solid #90CB93;
}

footer #social {
    float: right;
    margin-top: 10px;
}

.col3, .col2 {
    clear: both;
}

.col3 .box {
    width: 33%;
    display: inline-block;
}

.box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align: top;
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
}

.box h2 {
    background: #90CB93;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
}

.box h2 a {
    text-decoration: none;
    color: white;
    display: block;
}

.box img {
    vertical-align: middle;
}

.box.cite {
    background: #216f85;
    color: white;
    padding: 2em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    min-height: 276px;
    vertical-align: middle;
}

.col2 {
    border-top: 5px solid #993533;
}

.col2 .first {
    width: 33%;
    vertical-align: top;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.col2 .second {
    width: 66%;
    vertical-align: top;
    float: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.col2.right .text {
    float: right;
}

.col2.right .second {
    float: right;
}

.col2 .second p:first-child {
    margin-top: 0;
    padding-top: 0;
}