html, body {
    min-height: 100%;
}

body {
	background: white;
	font-family: "Trebuchet MS", "Lucida Grande", verdana, arial, georgia;
	font-size: 1em;
	margin: 0;
	padding: 20px 70px;
    line-height: 1.4;
}

a {
    color: #2877A2;
}

h1 {
    margin-bottom: 0;
}

h1 + h2 {
    margin: 0 0 2em 0;
    font-size: 1em;
}

h3 {
    font-weight: normal;
}

h2 {
    margin-bottom: 0;
}

h2 + h3 {
    margin-top: 0;
    font-weight: bold;
}

img { max-width: 100%; }

#container {
	min-width: 750px;
	max-width: 1100px;
	position:relative;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	background-color: white;
}

#logo {
	padding-top: 70px;
    display: block;
}

#logo img {
    width: 400px;
} 

#navi {
    float: right;
    right: 0px ;
	list-style-type: none;
	margin: -47px 0;
    text-align: center;
    padding: 12px 0;
}

#navi li {
    display: inline;
}

#navi li a {
	color: black;
	padding: 10px 12px;
    text-decoration: none;
    background-color: #90cb93;
    color: white;
}

#stage {
    border-top: 5px solid #90cb93;
	padding: 50px 0px;
}

p.diagramm {
    text-align: center;
    margin: 4em 0;
}

#stage p.diagramm img {
    float: none;
}

footer {
    clear: both;
    border-top: 3px solid #90CB93;
}

footer #social {
    float: right;
    margin-top: 10px;
}

.col3 .box {
    width: 33%;
    display: inline-block;
}

.box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align: middle;
}

.box h2 {
    background: #90CB93;
    color: white;
    font-size: 1em;
    padding: 0.5em;
}

.box h2 a {
    text-decoration: none;
    color: white;
}

.box.cite {
    background: #216f85;
    color: white;
    padding: 2em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.9em;
}