body { font-family: sans-serif; background: white; color: black; }
h1 { color: white; background: #CB3829; padding: 0.3em; font-size: 1em; }
img { max-width: 200px; }
a { text-decoration: none; color: #2877A2; }

